.cards-classes-article {
	background: #fafafa;
	border-radius: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
	min-height: 275px;
}
.cards-classes-article:hover {
	cursor: crosshair;
	background: linear-gradient(
		0deg,
		rgba(241, 113, 49, 0.1),
		rgba(241, 113, 49, 0.5)
	);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.cards-classes-article:hover > p {
	opacity: 0.8;
}

#btn-card-classes,
.btn-card-classes {
	transition: all 0.2s ease-in-out;
	border-bottom: transparent dashed 0.25rem;
}
#btn-card-classes:hover,
.btn-card-classes:hover {
	color: #f07030;
	border-bottom: 0.25rem dashed #f07030;
	cursor: pointer;
}
@media (width < 1250px) {
	.cards-classes-article {
		min-height: auto;
		p {
			font-size: 1rem;
		}
	}
}
