.menu-btn {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: none;
	filter: drop-shadow(2px 2px 0 orange);
	padding: 0.15rem;
	margin: auto;
}

#menu {
	z-index: 20;
	width: 100%;
	height: 100dvh;
	position: fixed;
	top: 2rem;
	right: 0;
	background-color: #f0f0f0;
	border-radius: 1rem 0 0 1rem;
	border-left: 1px solid #e0e0e0;

	/*  animate  */
	transition: translate 0.5s ease-out, display 0.5s ease-out allow-discrete,
		overlay 0.5s ease-out allow-discrete;
	translate: 200px 0;

	&::backdrop {
		opacity: 0;
		background: rgba(0, 0, 0, 0.5);
		transition: opacity 0.5s;
	}

	&:popover-open {
		translate: 0 0;

		&::backdrop {
			opacity: 1;
		}

		@starting-style {
			translate: 250px 0;

			&::backdrop {
				opacity: 0;
			}
		}
	}
}

/* Other styles */

.item-container {
	display: grid;
	gap: 1rem;
	margin: 3.5rem 0 0 2rem;
	color: #303030;
}
.item {
	font-size: 1.5rem;
	transition: all 0.25s;
	font-weight: 700;
}
.item:hover {
	transform: scale(1.05);
}

li {
	list-style: none;
}

a {
	transition: --col-2 0.25s;

	&:hover {
		--col-2: var(--col-1);
	}
}

@media (width > 1300px) {
	#header-mobile {
		display: none;
	}
}
