.section-faq {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 70vh;
	font-size: 1.75rem;
}
.section-faq aside {
	width: 75%;
}
.section-faq > aside strong {
	background: linear-gradient(90deg, #f12711, #ff7b22);
	border-radius: 1rem;
	padding: 0.5rem;
	color: white;
}

.section-faq > aside h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
details {
	--border-color: #f07030;
	border: 0.35em solid var(--border-color);
	overflow: hidden;
	margin: 0;
	background-color: white;
	opacity: 0.9;
	p {
		font-size: 1.25rem;
		font-weight: 500;
	}

	summary {
		background: #ccc;
		padding: 0.25em;
		border-bottom: 0.25em solid var(--border-color);
		cursor: pointer;
		font-weight: 500;
		transition: background 0.25s ease, color 0.25s ease;
	}

	summary:hover {
		background: #b4b4b4;
	}

	&[open] {
		border-bottom: 0.25em solid var(--border-color);
	}

	summary {
		background: #b4b4b4;
	}

	> *:not(summary) {
		padding: 0.75rem;
	}
}

details:has(+ details) {
	border-bottom: none;
}
details + details {
	border-top: none;
}

:not(details) + details,
details:first-child {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
details:not(details:has(+ details)) {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;

	&:not([open]) summary {
		border-bottom: 0;
	}
}

@media (width < 1250px) {
	.section-faq {
		height: 100%;
		width: 100%;
	}
	.section-faq article {
		max-width: 96%;
	}
	.section-faq > aside h2 {
		font-size: 1.75rem;
	}
	.section-faq aside {
		width: 100%;
	}
	summary {
		font-size: 1rem;
	}
	details p {
		font-size: 1rem;
	}
}
