p > .span {
	line-height: 4rem;
	display: flex;
	font-weight: 800;
	/* font-size: 5rem; */
}

p > .span {
	animation: translateX linear both;
	animation-timeline: view();
	animation-range: entry 20% cover 30%;
	font-size: 3.5rem;
	will-change: filter;
	transition: filter 300ms;
}

@keyframes translateX {
	from {
		transform: translateX(100%);
	}
}
@media (width < 1250px) {
	p > .span {
		font-size: 2.5rem;
		animation: none;
	}
}
