---
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import OnlineClasses from "../components/OnlineClasses.astro";
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
import Writing from "../components/Writing.astro";
import StudentSection from "../components/StudentSection.astro";
import HamburgerMenu from "../components/HamburgerMenu.astro";
import { defineMiddleware } from "astro:middleware";
---

<Layout title="Steve English Teacher ">
	<header class="header">
		<Header />
		<HamburgerMenu />

		<Hero />
	</header>

	<main>
		<OnlineClasses />
		<Writing />
		<Experience />
		<Video />
		<StudentSection />
	</main>

	<footer>
		<Footer />
	</footer>
</Layout>
