---
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import OnlineClasses from "../components/OnlineClasses.astro";
import Inmersion from "../components/Inmersion.astro";
import Layout from "../layouts/Layout.astro";
import Writing from "../components/Writing.astro";
import StudentSection from "../components/StudentSection.astro";
import { HamburgerMenu } from "../components/HamburgerMenu/HamburgerMenu.jsx";
import { Faq } from "../components/Faq/Faq.jsx";
---

<Layout title="Steve English Professor ">
	<header class="header">
		<HamburgerMenu client:visible />
		<Header />
		<Hero />
	</header>

	<main>
		<OnlineClasses />
		<Writing />
		<Experience />
		<Inmersion />
		<Faq />
		<StudentSection />
	</main>

	<footer>
		<Footer />
	</footer>
</Layout>
