---
import { Image } from "astro:assets";
import logo from "../img/logo-header.png";
---

<a href="#top" class="">
	<Image
		src={logo}
		alt="logo about steve"
		class="rounded-full fixed left-2 top-2 size-28 object-cover shadow-xl z-50		animate-spin"
	/>
	<a
		href="https://librecounter.org/referer/show"
		target="_blank"
		class="fixed left-20 top-20 w-2">
		<img
			src="https://librecounter.org/counter.svg"
			referrerpolicy="unsafe-url"
		/>
	</a>
</a>

<style>
	@media (width < 1300px) {
		img {
			display: none;
		}
	}
	@media (width > 1300px) {
		img {
			animation: enhance-img linear both;
			animation-timeline: scroll(root);
			animation-range: 0 300px;
		}
		@keyframes enhance-img {
			to {
				transform: scale(1.25);
				top: 2.75rem;
				left: 2.5rem;
				filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
			}
		}
	}
</style>
