---
import { Image } from "astro:assets";
import logo from "../img/logo-header.png";
---

<a href="#top" class="">
	<Image
		src={logo}
		alt="logo about steve"
		class="rounded-full fixed left-2 top-2 size-28 object-cover shadow-xl z-50"
	/>
</a>

<style>
	@media (width < 1300px) {
		img {
			display: none;
		}
	}
	@media (width > 1300px) {
		img {
			animation: enhance-img linear both;
			animation-timeline: scroll(root);
			animation-range: 0 300px;
		}
		@keyframes enhance-img {
			to {
				transform: scale(1.5);
				top: 2.5rem;
				left: 2.5rem;
				filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
			}
		}
	}
</style>
