---
import { Image } from "astro:assets";
import logo from "../img/logo-steve.jpeg";
---

<div class="">
	<Image
		src={logo}
		alt="logo about steve"
		class="rounded-full size-20 object-cover shadow-md border-2 border-slate-200 z-10"
	/>
</div>
