---
import { Image } from "astro:assets";
import profesor from "../img/avatar-profesor.avif";
---

<div class="">
	<Image
		src={profesor}
		alt="profesor avatar"
		class="rounded-full size-12 object-cover shadow-md"
	/>
</div>
