/*   IS-OPEN STATE   */
dialog[open] {
	translate: 0 0;
}

/*   EXIT STATE   */
dialog {
	transition: translate 0.7s ease-out, overlay 0.7s ease-out,
		display 0.7s ease-out allow-discrete;
	translate: 0 100vh;

	/* other styles */
	border: 6px solid;
	/* border-radius: 20px; */
	box-shadow: 20px 20px 0 blue;
}

/*   0. BEFORE-OPEN STATE   */
@starting-style {
	dialog[open] {
		translate: 0 100vh;
	}
}

/* Etc */

button,
.selected-anchor {
	padding: 1rem;
	background: linear-gradient(90deg, #f12711, #ff7b22);
	color: white;
	outline: 0.25rem solid transparent;
	border-radius: 1rem;
	font-weight: bold;
	font-size: 1.25rem;
}
button:hover,
.selected-anchor:hover {
	background: linear-gradient(-90deg, #f12711, #ff7b22);
	outline: 0.25rem dashed #ff7b22;
	cursor: pointer;
}
button:active,
.selected-anchor:active {
	transform: scale(0.95);
}
