---
interface Props {
	title?: string;
	description?: string;
	link?: string;
	alt?: string;
	textLink?: string;
}
const { title, description, link, textLink } = Astro.props;
---

<article
	class="max-w-[300px] h-[500px] flex items-center justify-around flex-col">
	<h3 class="text-3xl font-semibold">{title}</h3>
	<p class="text-md opacity-70 leading-loose">{description}</p>
	<a class="text-xl font-semibold" href={link}>{textLink}</a>
</article>

<style>
	article {
		background-color: #fafafa;
		border-radius: 1rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		padding: 1rem;
	}
	article:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		cursor: crosshair;
	}
	a {
		transition: all 0.2s ease-in-out;
		border-bottom: transparent dashed 0.25rem;
	}
	a:hover {
		border-bottom: 0.25rem dashed #ff7b22;
		color: #ff7b22;
	}
</style>
