---
import { Image } from "astro:assets";
import professor from "../img/professor.jpg";
import rotate from "../icons/rotate.svg";
---

<section
	class="h-screen w-full flex flex-col justify-center items-center"
	id="experience">
	<aside class="my-20 text-center flex flex-col items-center justify-center">
		<p class="font-semibold">EXPERIENCE</p>
		<h2 >
			Specialized in <br />
			<strong> English Education</strong>
		</h2>
	</aside>
	<article class="flex">
		<aside class="w-1/2 h-full">
			<div class="professor-container h-full">
				<Image
					src={rotate}
					alt="English professor"
					class="w-36 translate-x-56 translate-y-16 rotate"
				/>
				<Image
					src={professor}
					alt="English professor"
					class="image-professor"
				/>
			</div>
		</aside>
		<aside
			class="w-1/2 flex flex-col items-center justify-center explain-container h-full">
			<div class="px-10">
				<p
					class="text-7xl font-bold sm:text-1xl tracking-wide text-center leading-tight">
					Over 30 Years in
				</p>
				<h1
					class="text-6xl font-bold sm:text-1xl tracking-wide text-center leading-none">
					<span class="important-text">Distant learning</span>
					 for Skill Development
				</h1>
			</div>
			<p
				class="text-2xl font-semibold w-full text-pretty max-w-[50ch] text-center py-10">
				I became a teacher through a focused education in English,
				certification, and continuous professional development,
				emphasizing effective teaching and adapting to diverse student
				needs.
			</p>
		</aside>
	</article>
	
</section>

<style>
	.professor-container {
		width: auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.image-professor {
		object-fit: cover;
		border-radius: 1rem;
		outline: 0.5rem solid #ff7b22;
		max-width: 500px;
	}
	strong {
		background: linear-gradient(-45deg in oklch, #f07030, blue);
		border-radius: 1rem;
		padding: 0.5rem;
		color: white;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.75;
	}
	/* .explain-container {
		background-image: url("../img/about-shape-4.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 55%;
	} */
	.important-text {
		color: #f07030;
	}
</style>
