---
import { Image } from "astro:assets";
import professor from "../img/language.jpg";
---

<section
	class="w-full h-full flex flex-col justify-center items-center my-20 relative max-w-[80%] m-auto"
	id="experience">
	<aside class="mb-20 text-center flex flex-col items-center justify-center">
		<p class="font-semibold">EXPERIENCE</p>
		<h2>
			Specialized in <br />
			<strong> English Education</strong>
		</h2>
	</aside>
	<article class="flex items-center justify-around w-full">
		<aside class="">
			<div class="professor-container">
				<Image
					src={professor}
					alt="English professor"
					class="image-professor"
				/>
			</div>
		</aside>
		<aside
			class="flex flex-col items-center justify-center h-full w-full md:w-1/2">
			<div class="px-10">
				<p
					class="lg:text-6xl font-bold text-2xl text-center flex flex-col">
					Over 30 Years in
				</p>
				<h1 class="text-5xl font-bold sm:text-1xl text-center">
					<span class="important-text">Distant learning</span>
					<p>for Skill Development</p>
				</h1>
			</div>
		</aside>
	</article>
</section>

<style>
	.professor-container {
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.image-professor {
		object-fit: cover;
		border-radius: 1rem;
		border: 0.5rem solid #ff7b22;
		width: 100%;
	}
	strong {
		background: linear-gradient(90deg, #f12711, #ff7b22);
		border-radius: 1rem;
		padding: 0.5rem;
		color: white;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.75;
	}

	.important-text {
		color: #f07030;
		font-size: 5rem;
	}
	.image-professor {
		max-width: 85%;
		animation: zoom2 linear both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
		will-change: filter;
		transition: filter 300ms;
	}

	@keyframes zoom2 {
		from {
			transform: scale(0.6);
			opacity: 0.2;
			translate: -50% 0%;
		}
	}
	@media (width < 1250px) {
		section {
			padding-top: 5rem;
			max-width: 96%;
			margin: auto;
			max-width: 100%;
		}
		article {
			flex-direction: column-reverse;
			gap: 3em;
		}
		aside{
			width: 96%;
		}
		.professor-container > img{
			max-width: 100%;
		}
		h2 {
			font-size: 1.75rem;
		}

		.important-text {
			font-size: 3rem;
		}
	}
</style>
