---
import world from "../icons/world.svg";
import astro from "../img/favicon.svg";
import whatsappColor from "../icons/whatsappColor.svg";
import maps from "../icons/maps.png";
---

<section class="max-w-[80%] w-full min-h-56 m-auto relative" id="contact">
	<aside class="grid grid-cols-1 md:grid-cols-2 gap-8 flex-wrap py-6">
		<a
			class="relative whatsapp-container z-10"
			href="https://wa.me/5491161342789"
			target="_blank"
			rel="noreferrer">
			<div class="">
				<span class="text-3xl font-bold">Contact</span>
				<h5 class="text-xl md:text-2xl pt-2">
					How to contact me?{" "}
				</h5>
				<h2 class="text-2xl font-semibold">
					Send a text message only to: <span>+54 9 11-6134-2789</span>
				</h2>
			</div>
			<img
				src={whatsappColor.src}
				class="transition opacity-20 max-w-[150px] absolute right-0 my-auto top-0 bottom-0 -z-1"
				alt="whatsapp image"
			/>
		</a>

		<a
			class="relative maps-container z-10"
			href="https://www.google.com/maps/place/English+with+Steve/@-34.4409476,-58.7366843,17z/data=!3m1!4b1!4m6!3m5!1s0x95bcb9ef21be4f5b:0x155cd7a0b0ab4b92!8m2!3d-34.4409521!4d-58.7341094!16s%2Fg%2F11r75w3xyg?hl=es-419&entry=ttu"
			target="_blank"
			rel="noreferrer">
			<div class="">
				<span class="text-3xl font-bold">Class hours</span>
				<h5 class="text-xl md:text-2xl pt-2">
					and more reviews{" "}
				</h5>
				<h2 class="text-2xl font-semibold">on Google Maps</h2>
			</div>
			<img
				src={maps.src}
				class="transition opacity-20 max-w-[150px] absolute right-0 my-auto top-0 bottom-0 -z-1 pr-2"
				alt="whatsapp image"
			/>
		</a>
	</aside>
	<footer
		class="w-full my-5 flex gap-1 lg:justify-between justify-center -z-1 items-center flex-wrap footer">
		<a
			target="_blank"
			href="https://ezestom.github.io/portfolio/"
			class="opacity-60 hover:opacity-100 transition">
			<div class="flex flex-col items-center tracking-tighter">
				<span>Created & Designed by</span>

				<span class="flex items-center gap-1"
					>Eze Stom <img
						class="opacity-70"
						src={world.src}
						alt="world-icon"
					/></span
				>
			</div>
		</a>
		<p
			class="flex items-center flex-col gap-1 opacity-60 text-center tracking-tighter">
			<span class="flex items-center justify-center gap-1 flex-col">
				<span>@2024 - Argentina</span>
				<span class="flex items-center"
					>Developed with Astro
					<a
						class="hover:scale-110 transition"
						target="_blank"
						href="https://astro.build/"
						><img
							class="w-10 rotate-12"
							src={astro.src}
							alt="astro logo"
						/></a
					>
				</span>
			</span>
		</p>
	</footer>
</section>

<style>
	.whatsapp-container,
	.maps-container {
		display: flex;
		align-items: stretch;
		gap: 1rem;
		justify-items: center;
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		background-color: #fafafa;
		flex-wrap: wrap;
		outline: transparent dashed 0.5rem;
		position: relative;
		transition: all 0.5s;

		/* z-index: 40; */
	}
	.whatsapp-container:hover {
		outline: #25d366 dashed 0.5rem;
	}
	.maps-container:hover {
		outline: #db4437 dashed 0.5rem;
	}

	strong {
		background: linear-gradient(-45deg in oklch, #f07030, blue);
		border-radius: 1rem;
		padding: 1rem;
		color: white;
	}
	@media (width < 1200px) {
		section {
			max-width: 96%;
			margin-bottom: 3rem;
		}
		.footer {
			margin: 0.5rem 0;
			gap: 1rem;
		}
	}

	.footer {
		background: #fafafa;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		border-bottom: 1px solid var(--border-line);
		padding: 1rem 2rem;
		border-radius: 1rem;
		border-bottom: 1px solid var(--border-line);
	}
</style>
