---
import Avatar from "./Avatar.astro";
import { Button } from "./Button.jsx";
---

<Avatar />
<section class="flex justify-center items-center fixed top-4 header" id="nav">
	<a href="/#top" class="flex gap-3 items-center">
		<h1 class="font-bold flex flex-col items-center">
			<strong class="text-xl">I'm Steve</strong>
			<span class="text-sm">Canadian English</span>
			<span class="text-sm">Professor</span>
		</h1>
	</a>

	<nav class="px-4">
		<ul class="flex justify-center gap-10 text-xl font-bold">
			<li><a class="list-item" href="#classes">Classes</a></li>
			<li>
				<a class="list-item" href="#experience">Experience</a>
			</li>
			<li><a class="list-item" href="#inmersion">Inmersion</a></li>
			<li><a class="list-item" href="#faq">Faq</a></li>
			<li>
				<a class="list-item" href="#students">Reviews</a>
			</li>
		</ul>
	</nav>

	<Button />
</section>

<style>
	#nav {
		min-height: 6.5rem;
		z-index: 20;
		margin: auto;
		left: 0;
		right: 0;
		/* header scroll animation  with css  */
		animation: enhance-header linear both;
		animation-timeline: scroll(root);
		animation-range: 0 100px;
		position: relative;
		width: fit-content;
		padding: 0 1rem;
	}
	.list-item {
		border-bottom: 0.25rem dashed transparent;
		margin: 0 0.25rem;
	}
	.list-item:hover {
		color: #f07030;
		border-bottom: 0.25rem dashed #f07030;
	}

	@keyframes enhance-header {
		to {
			position: fixed;
			border-radius: 1rem;
			outline: 0.5rem dashed #f07030;
			top: 1rem;
			height: 6rem;
			backdrop-filter: saturate(100%) blur(5px);
			background-color: rgba(255, 255, 255, 0.5);
			z-index: 10;
		}
	}
	@media (width < 1300px) {
		.header {
			display: none;
		}
	}
</style>
