---
import Avatar from "./Avatar.astro";
import { Button } from "./Button.jsx";
---

<section
	class="flex justify-around items-center fixed top-2 header"
	id="header">
	<a href="/" class="flex gap-3 items-center">
		<Avatar />
		<h1 class="text-2xl font-bold flex flex-col items-center">
			<strong class="text-2xl">I'm Steve</strong>
			<span class="text-sm">Canadian English</span>
			<span class="text-sm">Teacher</span>
		</h1>
	</a>

	<nav class="">
		<ul class="flex justify-center gap-10 text-xl font-extrabold">
			<li><a class="list-item" href="#classes">Classes</a></li>
			<li>
				<a class="list-item" href="#experience">Experience</a>
			</li>
			<li><a class="list-item" href="#video">Video</a></li>
			<li>
				<a class="list-item" href="#students">Reviews</a>
			</li>
		</ul>
	</nav>

	<Button />
</section>

<style>
	.header {
		max-height: 5rem;
		z-index: 20;
		margin: auto;
		left: 0;
		right: 0;
		/* header scroll animation  with css  */
		animation: enhance-header linear both;
		animation-timeline: scroll(root);
		animation-range: 0 300px;
	}
	.list-item {
		border-bottom: 0.25rem dashed transparent;
	}
	.list-item:hover {
		color: #f07030;
		border-bottom: 0.25rem dashed #f07030;
	}

	@keyframes enhance-header {
		to {
			padding: 0 1rem;
			justify-content: space-between;
			position: fixed;
			border-radius: 1rem;
			outline: 0.5rem dashed #f07030;
			top: 1rem;
			height: 6rem;
			backdrop-filter: saturate(200%) blur(20px);
			background-color: rgba(255, 255, 255, 0.5);
			z-index: 10;
			width: 80%;
		}
	}
	@media (width < 1250px) {
		.header {
			display: none;
		}
	}
</style>
