---
import { Image } from "astro:assets";
import student1 from "../img/student_1.jpg";
import student2 from "../img/student_2.jpg";
---

<section
	class="w-full h-[75vh] lg:h-screen flex justify-center items-center relative"
	id="home">
	<aside class="max-w-[96%] lg:max-w-[90%]">
		<article class="w-full h-full flex items-center justify-center">
			<div class="flex items-center flex-col gap-2" id="text-container">
				<p
					class="text-6xl lg:text-8xl font-bold sm:text-1xl text-center">
					The Best
				</p>
				<h1
					class="text-4xl lg:text-8xl font-bold sm:text-1xl text-center py-5">
					<strong class="important-text">Remote Program</strong>
				</h1>
				<span
					class="text-6xl lg:text-8xl font-bold sm:text-1xl text-center"
					>for Students</span
				>
			</div>
		</article>
		<article class="w-full h-full" id="img-container">
			<div class="grid-list h-full w-full mt-5" id="images">
				<Image class="image-student" src={student1} alt="hero image" />
				<Image class="image-student" src={student2} alt="hero image" />
			</div>
		</article>
	</aside>
</section>

<style>
	#img-container {
		opacity: 20%;
	}

	.grid-list {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 8rem;
		background-image: url("../img/hero-shape-3.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	.image-student {
		object-fit: cover;
		border-radius: 1rem;
		outline: 0.5rem solid #ff7b22;
		margin: 1rem;
		max-width: 400px;
	}
	.important-text {
		color: white;
		border-radius: 1rem;
		padding: 0.5rem;
		line-height: 8rem;
		background: linear-gradient(90deg, #f12711, #ff7b22);
	}
	.background {
		background-color: #fafafa;
	}
	@keyframes scale-up {
		to {
			scale: 1.5;
		}
	}
	@keyframes fade-away {
		to {
			opacity: 0;
		}
	}
	#home {
		view-timeline: --scroll;
	}

	/* Apple animation Midu */
	#img-container {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		/* animation:
			scale-up both ease-in-out,
			fade-away both linear;
		animation-timeline: --scroll;
		animation-range:
			exit 0% exit 100%,
			exit 50% exit 70%; */
	}
	.image-student:nth-child(1) {
		transform: translate(-5em, 0);
	}
	.image-student:nth-child(2) {
		transform: translate(5rem, 0);
	}

	/* #text-container {
		animation: fade-away both linear;
		animation-timeline: --scroll;
		animation-range: exit 20% exit 90%;
	} */
</style>
