---
import { Image } from "astro:assets";
import student1 from "../img/student1.jpg";
import student2 from "../img/student2.jpg";
---

<section
	class="w-full h-[75vh] lg:h-screen flex justify-center items-center relative"
	id="home">
	<aside class="max-w-[96%] lg:max-w-[80%]">
		<article class="w-full h-full flex items-center justify-center">
			<div class="flex items-center flex-col gap-2" id="text-container">
				<p
					class="text-6xl lg:text-7xl font-bold sm:text-1xl text-center">
					The Best
				</p>
				<h1
					class="text-4xl lg:text-6xl font-bold sm:text-1xl text-center">
					<strong class="important-text">Remote Program</strong>
				</h1>
				<span
					class="text-6xl lg:text-7xl font-bold sm:text-1xl text-center"
					>for Students</span
				>
				<p
					class="text-xl h-auto text-pretty w-full text-center opacity-50 font-semibold max-w-[50ch] pt-5">
					As a Canadian English teacher with 30+ years, I bring
					expertise in creating engaging lessons and nurturing a love
					for English. Let's unlock your linguistic potential
					together!
				</p>
			</div>
		</article>
		<article class="w-full h-full" id="img-container">
			<div class="grid-list h-full w-full" id="images">
				<Image class="image-student" src={student1} alt="hero image" />
				<Image class="image-student" src={student2} alt="hero image" />
			</div>
		</article>
	</aside>
</section>

<style>
	@media (width < 1250px) {
		#img-container {
			display: none;
		}
	}
	.grid-list {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		background-image: url("../img/hero-shape-3.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	.image-student {
		object-fit: cover;
		border-radius: 1rem;
		outline: 0.5rem solid #ff7b22;
		margin: 1rem;
	}
	.important-text {
		background: linear-gradient(-45deg in oklch, #f07030, blue);
		border-radius: 1rem;
		padding: 0.5rem;
		color: white;
		line-height: 8rem;
	}
	.background {
		background-color: #fafafa;
	}
	@keyframes scale-up {
		to {
			scale: 1.5;
		}
	}
	@keyframes fade-away {
		to {
			opacity: 0;
		}
	}
	#home {
		view-timeline: --scroll;
	}

	/* Apple animation Midu */
	#img-container {
		z-index: -1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		animation:
			scale-up both ease-in-out,
			fade-away both linear;
		animation-timeline: --scroll;
		animation-range:
			exit 0% exit 100%,
			exit 50% exit 70%;
	}
	.image-student:nth-child(1) {
		transform: translate(-5em, 0);
	}
	.image-student:nth-child(2) {
		transform: translate(5rem, 0);
	}

	#text-container {
		/* position: fixed; */
		animation: fade-away both linear;
		animation-timeline: --scroll;
		animation-range: exit 20% exit 90%;
	}
</style>
