---
import { Image } from "astro:assets";
import student1 from "../img/student_1.jpg";
import student2 from "../img/student_2.jpg";
import Slider from "./Slider.astro";
---

<section
	class="w-full h-[100vh] flex justify-center items-center relative"
	id="home">
	<aside class="max-w-[96%] lg:max-w-[90%]">
		<article
			class="w-full h-full flex items-center justify-center -translate-y-10 md:-translate-y-0">
			<div
				class="flex items-center justify-center flex-col md:gap-2"
				id="text-container">
				<p
					class="text-6xl md:text-7xl font-black lg:text-7xl sm:text-1xl text-center">
					The Best
				</p>
				<h1
					class="text-4xl lg:text-7xl font-bold sm:text-1xl text-center md:py-5">
					<strong class="important-text">Online Program</strong>
				</h1>
				<span
					class="text-6xl lg:text-7xl font-bold sm:text-1xl text-center"
					>for Students</span
				>
			</div>
		</article>
		<article
			class="w-full h-full absolute overflow-hidden"
			id="img-container">
			<div
				class="h-full flex items-end xl:items-center justify-center"
				id="images">
				<Image
					class="image-student outline-8 outline-orange-500 md:rounded-xl"
					src={student1}
					alt="hero image"
				/>
				<Image
					class="image-student outline-8 outline-orange-500 md:rounded-xl"
					src={student2}
					alt="hero image"
				/>
			</div>
		</article>
	</aside>
	<Slider text="English with Steve" />
</section>

<style>
	.image-student {
		object-fit: cover;
		width: 100%;
		max-width: 500px;
		opacity: 50%;
	}
	.important-text {
		color: white;
		border-radius: 1rem;
		padding: 0.5rem;
		line-height: 8rem;
		background: linear-gradient(90deg, #f12711, #ff7b22);
	}
	.background {
		background-color: #fafafa;
	}
	@keyframes scale-up {
		to {
			scale: 1.5;
		}
	}
	@keyframes fade-away {
		to {
			opacity: 0;
		}
	}
	#home {
		view-timeline: --scroll;
	}

	/* Apple animation Midu */
	#img-container {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		/* animation:
			scale-up both ease-in-out,
			fade-away both linear;
		animation-timeline: --scroll;
		animation-range:
			exit 0% exit 100%,
			exit 50% exit 70%; */
	}
	.image-student:nth-child(1) {
		transform: translate(-75%, 0);
	}
	.image-student:nth-child(2) {
		transform: translate(75%, 0);
	}

	/* #text-container {
		animation: fade-away both linear;
		animation-timeline: --scroll;
		animation-range: exit 20% exit 90%;
	} */
	@media (width < 1000px) {
		.image-student {
			max-width: 250px;
		}
		.image-student:nth-child(1) {
			transform: translate(-0%, 0);
		}
		.image-student:nth-child(2) {
			transform: translate(0%, 0);
		}
	}
</style>
