---
import { Image } from "astro:assets";
import rotate from "../icons/rotate.svg";
import { BlurVideo } from "./BlurVideo/BlurVideo";
import preview from "../img/steve-english.jpg";
import { Counter } from "./Counter/Counter";
---

<section
	class="w-full h-full flex flex-col justify-center items-center relative"
	id="inmersion">
	<aside class="my-20 text-center flex flex-col items-center justify-center">
		<p class="font-semibold">INMERSION</p>
		<h2>
			My Classes <br />
			<strong> Live Education</strong>
		</h2>
	</aside>
	<article
		class="max-w-[80%] w-full flex flex-col items-center justify-center article-container">
		<div
			class="relative mb-32 flex items-center justify-center video-container w-full">
			<Image
				src={rotate}
				alt="video decoration"
				class="absolute -top-20 right-40 w-40 rotate-90"
			/>
			<figure class="video">
				<BlurVideo
					client:visible
					img={preview}
					urlYoutube="https://www.youtube.com/embed/4tN6h4OSrGU?si=dpoIiVNUeFwd8Vpk&autoplay=1&muted=0"
				/>
			</figure>
		</div>
		<aside class="flex">
			<div class="flex items-center justify-center">
				<Counter
					client:visible
					initialValue={2345}
					speed={20000}
					children="+"
					text="Happy Students"
				/>
				<hr />
			</div>

			<div class="flex items-center justify-center">
				<Counter
					client:visible
					initialValue={1999}
					speed={20000}
					children="+"
					text="Classes Completed"
				/>
				<hr />
			</div>
			<div class="flex items-center justify-center">
				<Counter
					client:visible
					initialValue={9000}
					speed={20000}
					children="+"
					text="Exercise Learned"
				/>
				<hr />
			</div>
			<div class="flex items-center justify-center">
				<Counter
					client:visible
					initialValue={100}
					speed={20000}
					children="%"
					text="Satisfaction Rate"
				/>
				<hr />
			</div>
		</aside>
	</article>
</section>

<style>
	section::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url("../img/blob-scatter-haikei.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		opacity: 0.05; /* Ajusta la opacidad según sea necesario */
		z-index: -1;
	}
	hr {
		background: linear-gradient(90deg, #f12711, #ff7b22);
		height: 0.5rem;
		border-radius: 1rem;
	}

	.video {
		outline: 0.5rem solid #ff7b22;
		border-radius: 1rem;
		width: 100%;
		max-width: 65%;
	}

	aside {
		display: flex;
		justify-content: space-around;
		width: 100%;
		flex-wrap: wrap;
	}
	hr {
		margin-top: 1rem;
		width: 100%;
		display: flex;
		animation: -translateX linear both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
		will-change: filter;
		transition: filter 300ms;
	}
	@keyframes -translateX {
		from {
			transform: translateX(-100%);
			opacity: 0.3;
		}
	}

	aside div h6 {
		font-size: 3.5rem;
		font-weight: 800;
	}
	aside div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	strong {
		background: linear-gradient(90deg, #f12711, #ff7b22);
		border-radius: 1rem;
		padding: 0.5rem;
		color: white;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.75;
	}
	@media (width < 1250px) {
		article {
			max-width: 96%;
		}
		h2 {
			font-size: 1.75rem;
		}
		.video {
			min-width: 98%;
		}
		hr {
			animation: none;
		}
		.article-container {
			justify-content: center;
		}
	}
</style>
