---
import CardClasses from "./CardClasses.astro";
---

<section class="w-full h-screen flex flex-col ">
	<aside class="my-40">
		<p>CATEGORIES</p>
		<h2>Online Classes <br /> <strong>For Remote Learning</strong></h2>
	</aside>
   <aside class="w-[90%] flex flex-wrap justify-evenly ">
      <CardClasses
		img=""
		title="Class Title"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam id tincidunt ultrices, nunc libero tincidunt urna, vitae aliquam nisl libero vitae nisl. Sed euismod, diam id tincidunt ultrices, nunc libero tincidunt urna, vitae aliquam nisl libero vitae nisl."
		link="/"
		link="https://www.google.com"
		textLink="Learn More"
	/>
         <CardClasses
		img=""
		title="Class Title"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam id tincidunt ultrices, nunc libero tincidunt urna, vitae aliquam nisl libero vitae nisl. Sed euismod, diam id tincidunt ultrices, nunc libero tincidunt urna, vitae aliquam nisl libero vitae nisl."
		link="/"
		link="https://www.google.com"
		textLink="Learn More"
	/>
         <CardClasses
		img=""
		title="Class Title"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam id tincidunt ultrices, nunc libero tincidunt urna, vitae aliquam nisl libero vitae nisl. Sed euismod, diam id tincidunt ultrices, nunc libero tincidunt urna, vitae aliquam nisl libero vitae nisl."
		link="/"
		link="https://www.google.com"
		textLink="Learn More"
	/>
         <CardClasses
		img=""
		title="Class Title"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam id tincidunt ultrices, nunc libero tincidunt urna, vitae aliquam nisl libero vitae nisl. Sed euismod, diam id tincidunt ultrices, nunc libero tincidunt urna, vitae aliquam nisl libero vitae nisl."
		link="/"
		link="https://www.google.com"
		textLink="Learn More"
	/>
   </aside>
	
</section>

<style>
	section {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 700;
	}

	strong {
		background: linear-gradient(-45deg in oklch, #f07030, blue);
		border-radius: 1rem;
		padding: 0.5rem;
		color: white;
	}
</style>
