---
import { CardStudent } from "../components/CardStudent/CardStudent";
import photo from "../img/eze.jpg";
---

<section class="w-full h-full flex flex-col text-center my-40" id="students">
	<div class="mb-40">
		<p class="font-semibold">STUDENT REVIEW</p>
		<h2>Testimonials <br /> <strong>About My Job</strong></h2>
	</div>
	<article class="cards-container">
		<CardStudent
			name="Ezequiel"
			date="12/12/2020"
			studentImg={photo.src}
			text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus error, ipsum labore numquam est ullam quasi a pariatur eos. Maiores ducimus perspiciatis accusamus soluta in voluptatem repellat veritatis possimus quisquam."
			client:visible
			link="#"
		/>
		<CardStudent
			name="Ezequiel"
			date="12/12/2020"
			studentImg={photo.src}
			text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus error, ipsum labore numquam est ullam quasi a pariatur eos. Maiores ducimus perspiciatis accusamus soluta in voluptatem repellat veritatis possimus quisquam."
			client:visible
			link="#"
		/>
		<CardStudent
			name="Ezequiel"
			date="12/12/2020"
			studentImg={photo.src}
			text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus error, ipsum labore numquam est ullam quasi a pariatur eos. Maiores ducimus perspiciatis accusamus soluta in voluptatem repellat veritatis possimus quisquam."
			client:visible
			link="#"
		/>
		<CardStudent
			name="Ezequiel"
			date="12/12/2020"
			studentImg={photo.src}
			text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus error, ipsum labore numquam est ullam quasi a pariatur eos. Maiores ducimus perspiciatis accusamus soluta in voluptatem repellat veritatis possimus quisquam."
			client:visible
			link="#"
		/>
	</article>
</section>

<style>
	article {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1rem;
		justify-items: center;
		max-width: 100vw;
		margin: auto;
		flex-wrap: wrap;
	}
	strong {
		background: linear-gradient(-45deg in oklch, #f07030, blue);
		border-radius: 1rem;
		padding: 0.5rem;
		color: white;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.75;
	}
	@media (width < 1250px) {
		h2 {
			font-size: 1.75rem;
		}
	}
</style>
