---
import { CardStudent } from "../components/CardStudent/CardStudent";
import photo from "../img/eze.jpg";
import peep1 from "../img/peep1.png";
import peep2 from "../img/peep2.png";
import peep3 from "../img/peep3.png";
import peep4 from "../img/peep4.png";
---

<section class="w-full h-full flex flex-col text-center my-40" id="students">
	<div class="mb-40">
		<p class="font-semibold">STUDENT REVIEW</p>
		<h2>Testimonials <br /> <strong>About My Job</strong></h2>
	</div>
	<article class="cards-container">
		<CardStudent
			name="Ezequiel"
			date="March 2023"
			studentImg={peep1.src}
			text="Super recomiendo las clases de inglés que dicta Steve, para un aprendizaje eficaz, rápido y entretenido. Te proporciona mucho material de primer nivel 🚀"
			client:visible
			link="https://maps.app.goo.gl/xUMbRdHCwQcKB3Yo9"
		/>
		<CardStudent
			name="Paula Polo"
			date="January 2023"
			studentImg={peep2.src}
			text="El mejor profesor de inglés que tuve. En un mes, mi progreso fue fantástico tanto en pronunciación, fluidez y gramática. Los materiales de trabajo son geniales y ayudan a ampliar nuestro vocabulario y conocimientos en general. Si quieres mejorar tu inglés, English with Steve es lo mejor!"
			client:visible
			link="https://maps.app.goo.gl/gdtZ9mcJ4e9JQR5AA"
		/>
		<CardStudent
			name="Muriel López"
			date="August 2023"
			studentImg={peep3.src}
			text="Tomo clases con Steve desde Abril , necesito el inglés para mi trabajo y en estos meses los avances fueron mas de los esperados. Es buenísimo explicando, claro y paciente. Las clases son personalizadas preparadas según lo que necesito."
			client:visible
			link="https://maps.app.goo.gl/C88Ye9rzSiQXquQL8"
		/>
		<CardStudent
			name="Gustavo Vieyra"
			date="December 2023"
			studentImg={peep4.src}
			text="Steve Sharpe es sinónimo de EXCELENCIA en la enseñanza del idioma Inglés. 1-Es su idioma nativo y lo conoce muy bien 2-Tiene experiencia docente y sabe cómo enseñar 3-Es una gran persona, honesta y trabajadora, lo que le da al alumno la seguridad de que el camino para aprender el idioma es el correcto. El tiempo así lo demuestra."
			client:visible
			link="https://maps.app.goo.gl/SypCcomnvThtdSyi9"
		/>
	</article>
</section>

<style>
	article {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1rem;
		justify-items: center;
		max-width: 100vw;
		margin: auto;
		flex-wrap: wrap;
	}
	strong {
		background: linear-gradient(-45deg in oklch, #f07030, blue);
		border-radius: 1rem;
		padding: 0.5rem;
		color: white;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.75;
	}
	@media (width < 1250px) {
		h2 {
			font-size: 1.75rem;
		}
	}
</style>
