---
import { Image } from "astro:assets";
import check from "../icons/check.svg";
import rotate from "../icons/rotate.svg";
import { BlurVideo } from "./BlurVideo/BlurVideo";
import preview from "../videos/pantalla.mp4";
---

<section
	class="w-full h-full flex flex-col justify-center items-center  relative my-32"
	id="video">
	<article class="w-full flex flex-col items-center justify-center">
		<div class="relative my-32 flex items-center justify-center">
			<Image
				src={rotate}
				alt="video decoration"
				class="absolute -top-16 right-60 w-36 rotate-90"
			/>
			<figure class="video">
				<BlurVideo
					client:visible
					video={preview}
					urlYoutube="https://www.youtube.com/embed/KQ4Qwh-nuow?si=UhDX8PXuURukgOM8"
				/>
			</figure>
		</div>
		<aside>
			<div>
				<h6>+100</h6>
				<span>STUDENT ENROLLED</span>
			</div>
			<div>
				<h6>+2000</h6>
				<span>CLASS COMPLETED</span>
			</div>
			<div>
				<h6>100%</h6>
				<span>SATISFACTION RATE</span>
			</div>
			<div>
				<h6>+9000</h6>
				<span>EXERCISES</span>
			</div>
		</aside>
	</article>
</section>

<style>
	section {
		position: relative;
		z-index: 1; /* Ajusta según sea necesario */
	}

	section::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url("../img/blob-scatter-haikei.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		opacity: 0.05; /* Ajusta la opacidad según sea necesario */
		z-index: -1;
	}

	.video {
		outline: 0.5rem solid #ff7b22;
		border-radius: 1rem;
		width: 65%;
	}

	aside {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		gap: 1rem;
		flex-wrap: wrap;
	}
	aside div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border-radius: 1rem;
		padding: 3rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	aside div:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		cursor: crosshair;
	}
	aside div h6 {
		font-size: 2.5rem;
		font-weight: bold;
	}
	aside div span {
		font-size: 1rem;
	}
</style>
