<section class="h-full flex justify-center items-center my-20">
	<article class="relative m-auto">
		<p id="demo" class="absolute">
			<span
				>Dive into the English learning adventure with me, Professor
				Steve. Together, let's unlock new skills and global
				opportunities. Embrace the joy of learning!</span
			>
		</p>
	</article>
</section>

<style>
	#demo {
		/* width: 80%; */
		/* transform: translate(10%, 45%); */
		font-weight: bold;
		text-align: center;
		max-height: 35vh;

		/* --chars: 144; */
		--chars: 280;
	}
	article {
		/* outline: 0.5rem dashed #f07030; */
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 1rem;
		margin: auto;
		max-width: 80%;
	}

	span {
		font-size: 3rem;
		background: 
      /* base color */ #eee /* highlight gradient */
			linear-gradient(to right, #6300ff 0%, #e915c7 100%) 0 / 0 no-repeat;

		-webkit-background-clip: text;
		color: transparent;
		animation: text steps(var(--chars)) forwards;
		animation-timeline: scroll(root);
	}

	@keyframes text {
		0% {
			background-size: 0ch;
		}
		100% {
			background-size: calc(var(--chars) * 1ch);
		}
	}
	article {
		/* font-size: clamp(16px, 2vmax + 1em, 42px); */
		width: 100%;
		height: auto;
		min-height: 50vh;
	}
</style>
