<section class="h-full flex justify-center items-center mb-20" id="writing">
	<article class="relative m-auto">
		<p id="demo" class="absolute">
			<span
				>Dive into the English learning adventure with me. Together,
				let's unlock new skills and global opportunities. Embrace the
				joy of learning!</span
			>
		</p>
	</article>
</section>

<style>
	@media (width < 1250px) {
		#writing {
			display: none;
		}
	}
	#demo {
		width: 80%;
		font-weight: bold;
		text-align: center;
		max-height: 35vh;

		/* --chars: 144; */
		--chars: 330;
	}
	article {
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 1rem;
		margin: auto;
		max-width: 80%;
	}

	span {
		font-size: 4rem;
		line-height: 4rem;
		background: 
      /* base color */ #eee /* highlight gradient */
			linear-gradient(to right, #f12711 0%, #f07030 100%) 0 / 0 no-repeat;	
		background-clip: text;
		color: transparent;
		animation: text steps(var(--chars)) forwards;
		animation-timeline: scroll(root);
		text-wrap: balance;
	}

	@keyframes text {
		0% {
			background-size: 0ch;
		}
		100% {
			background-size: calc(var(--chars) * 1ch);
		}
	}
	article {
		/* font-size: clamp(16px, 2vmax + 1em, 42px); */
		width: 100%;
		height: auto;
		min-height: 50vh;
	}
</style>
