<section class="relative">
	<p id="demo" class="absolute">
		<span class=""
			>Dive into the English learning adventure with me, Professor Steve.
			Together, let's unlock new skills and global opportunities. Embrace
			the joy of learning!</span
		>
	</p>
</section>

<style>
	#demo {
		position: absolute;
		font-size: 1.75em;
		line-height: 6rem;
		width: 80%;
		transform: translate(10%, 50%);
		font-weight: bold;
		/* height: 100vh; */

		text-align: center;

		/* --chars: 144; */
		--chars: 155;
	}

	span {
		background: 
    /* base color */ #eee /* highlight gradient */
			linear-gradient(to right, #6300ff 0%, #e915c7 100%) 0 / 0 no-repeat;
		-webkit-background-clip: text;
		color: transparent;
		animation: text steps(var(--chars)) forwards;
		animation-timeline: scroll(root);
	}

	@keyframes text {
		0% {
			background-size: 0ch;
		}
		100% {
			background-size: calc(var(--chars) * 1ch);
		}
	}

	/* * {
  margin: 0;
  padding: 0;
} */

	section {
		font-size: clamp(16px, 2vmax + 1em, 42px);
		width: 100%;
		height: 100vh;
		margin-top: 5rem;
		overflow-y: scroll;
	}
</style>
