<p id="demo">
	<span>
		Mastering English transcends mere skill; it's a gateway to limitless
		possibilities and profound connections. In our interconnected global
		landscape, it stands as the shared language that unifies diverse
		cultures and fosters communication. Beyond its linguistic role, English
		becomes a key unlocking doors to fresh ideas, opportunities, and
		friendships.</span
	>
</p>

<style>
	#demo {
		position: fixed;
		font-size: 1.25em;
		width: 80vw;
		height: 100%;
		margin: auto;		
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-weight: 800;
		--chars:  398;
		max-width: 50ch;
	}

	span {
		background: 
    /* base color */ #eee /* highlight gradient */
			linear-gradient(to right, #6300ff 0%, #e915c7 100%) 0 / 0 no-repeat;
		-webkit-background-clip: text;
		color: transparent;

		animation: text steps(var(--chars)) forwards;
		animation-timeline: scroll(root);
	}

	body {
		height: 400dvh;
	}

	@keyframes text {
		0% {
			background-size: 0ch;
		}
		100% {
			background-size: calc(var(--chars) * 1ch);
		}
	}

	* {
		margin: 0;
		padding: 0;
	}

	html {
		font-size: clamp(16px, 2vmax + 1em, 42px);
	}
</style>
