---
// import "@fontsource-variable/onest";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="title" content="Steve Website" />
		<meta
			name="description"
			content="As a Canadian English teacher with 30+ years, I bring expertise in creating engaging lessons and nurturing a love for English. Let's unlock your linguistic potential together!📚 "
		/>
		<meta name="author" content="Astro author" />
		<meta name="image" content="Astro image" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-steve.jpeg" />

		<title>{title}</title>
	</head>
	<body>
		<div
			class="fixed inset-0 -z-10 h-full w-full bg-[#fafafa] bg-[linear-gradient(to_right,#f0f0f0_2px,transparent_2px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">
		</div>
		<slot />
	</body>
</html>
<style is:global>
	html {
		scroll-behavior: smooth;
		scrollbar-width: none;
	}

	* {
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Helvetica,
			Arial,
			sans-serif,
			"Apple Color Emoji",
			"Segoe UI Emoji",
			"Segoe UI Symbol";
	}
</style>
